<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand " href="{% url 'home' %}">Amaebo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
    
                
            
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="{% url 'personal' %}">Manage Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'create' %}">Create Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'personal_2' %}">Personal Posts</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">LOGOUT</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'create' %}">CREATE</a></li>
                


                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">LOGIN</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">REGISTER</a></li>
                {% endif %}
    
            </ul>
        </div>
    </div>
</nav>